.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  display: flex;
  position: relative;
  background: #f2f2f2;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  left: 64px;
  align-self: center;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
 }

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background: #2f80ed;
}

.description {
  display: flex;
  margin: 0;
  justify-content: space-around;
}
.two-columns {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph {
  margin: 0 0 30px 0;
}
.two-columns__paragraph_no_margin {
  margin: 0;
}
.two-columns__paragraph-letters {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__title {
  width: 60%;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.digits__subtitle {
  width: 60%;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  height: 890px;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}
.feynman__title {
  width: 648px;
  z-index: 1;
  margin: 100px 0 70px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  z-index: 1;
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}
.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  overflow: hidden;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
}

.section-title_theme_dark {
  width: 60%;
  margin: 90px 0 20px 0;
  text-align: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto 90px auto;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell_theme_dark {
  width: 200px;
  z-index: 1;
  margin-top: 80px;
  color: white;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.kaufman_triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

.footer {
  display: flex;
  margin: 0;
  background: #1f1f1f;
}

.footer__columns {
  min-height: 350px;
  width: 90%;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  position: relative;
 }

.logo_place_footer {
  /* display: flex; */
}

.footer__author {
  margin: 18px 0 18px 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__columns_content_info {
  display: flex;
  flex-direction: column;
}
.footer__columns-heading {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.footer__columns-links {
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
}

.footer__columns_content_social {
  display: flex;
  flex-direction: column;
}

.footer__columns-link {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: white;
  }
.footer__social-icon {
  margin-right: 10px;

}

