              /* закинула в файл page.css */
/* .page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
} */

                      /* закинула в файл header.css */
/* .header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  background: #f2f2f2;
  color: #000;
} */

                           /* закинула в файл logo.css */
/* .logo {
  width: 228px;
  height: 32px;
} */

                          /* закинула в файл logo_place_header.css */
/* .logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
} */

                       /* закинула в файл header__title */
/* .header__title {
  width: 100%;
  max-width: 730px;
  margin: 0 0 0 64px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  color: #000;
} */

                     /* закинула в файл header__subtitle */
/* .header__subtitle {
  width: 100%;
  max-width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
} */

                      /* закинула в файл header__link*/
/* .header__link {
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
} */

                  /* закинула в файл header__main-illustration*/
/* .header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
 } */

                 /* закинула в файл header__square-pic*/
/* .header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background: #2f80ed;
} */

                  /* закинула в файл description*/
/* .description {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
} */
                     /* закинула в файл two-columns*/
/* .two-columns {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
} */

                 /* закинула в файл two-columns__brief*/
/* .two-columns__brief {
  width: 100%;
  max-width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
} */
                     /* закинула в файл two-columns__main-text*/
/* .two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  color: #000;
} */
                 /* закинула в файл two-columns__paragraph*/
/* .two-columns__paragraph {
  margin: 0 0 30px 0;
}
.two-columns__paragraph:last-child {
  margin: 0;
} */

                    /* закинула в файл two-columns__span-accent*/
/* .two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
} */

                            /* закинула в файл digits*/
/* .digits {
  margin: 100px 0 100px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

                  /* закинула в файл section-title*/
/* .section-title {
  width: 100%;
  max-width: 60%;
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: #000;
} */
                    /* закинула в файл section-subtitle*/
/* .section-subtitle {
  width: 100%;
  max-width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
} */
                  /* закинула в файл table*/
/* .table {
  width: 1100px;
  margin: 0 auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
} */
                 /* закинула в файл table__cell.css*/
/* .table__cell {
  width: 250px;
  margin-top: 60px;
  padding: 0;
} */
                   /* закинула в файл table__heading.css*/
/* .table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: #000;
} */
                   /* закинула в файл table__text.css*/
/* .table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #000;
} */
                   /* закинула в файл feynman.css*/
/* .feynman {
  min-height: 890px;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
} */
                   /* закинула в файл feynman__title.css*/
/* .feynman__title {
  width: 100%;
  max-width: 648px;
  z-index: 1;
  margin: 0 0 70px 0;
  padding: 100px 0 0 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  color: #000;
} */
                   /* закинула в файл feynman__subtitle.css*/
/* .feynman__subtitle {
  z-index: 1;
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
} */
                   /* закинула в файл feynman__link.css*/
/* .feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
} */
                   /* закинула в файл feynman__img.css*/
/* .feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
} */
                   /* закинула в файл kaufman.css*/
/* .kaufman {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 90px 0 0 0;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
} */
                 /* закинула в файл section-title_theme_dark.css*/
/* .section-title_theme_dark {
  color: white;
} */
                 /* закинула в файл section-subtitle_theme_dark.css*/
/* .section-subtitle_theme_dark {
  color: white;
} */
                   /* закинула в файл table_theme_dark.css*/
/* .table_theme_dark {
  margin-bottom: 90px;
} */
                   /* закинула в файл table__cell_theme_dark.css*/
/* .table__cell_theme_dark {
  width: 200px;
  z-index: 1;
  margin: 80px 0 0 0;
  color: white;
} */
                   /* закинула в файл table__heading_theme_dark.css*/
/* .table__heading_theme_dark {
  color: white;
} */
                   /* закинула в файл table__text_theme_dark.css*/
/* .table__text_theme_dark {
  color: white;
} */
                   /* закинула в файл kaufman__triangle.css*/
/* .kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  background-size: cover;
} */
                   /* закинула в файл footer.css*/
/* .footer {
  display: flex;
  min-height: 350px;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
} */
                   /* закинула в файл footer__columns.css*/
/* .footer__columns {
  width: 90%;
  margin: 60px auto 40px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
} */
                   /* закинула в файл footer__column_content_copyright.css*/
/* .footer__column_content_copyright {
  flex-basis: 711px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 } */
                   /* закинула в файл footer__author.css*/
/* .footer__author {
  margin: 18px 0 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
} */
                   /* закинула в файл footer__column_content_info.css*/
/* .footer__column_content_info {
  margin: 0;
  padding: 0;
} */
                   /* закинула в файл footer__column_content_social.css*/
/* .footer__column_content_social {
  padding: 0;
  margin: 0;
} */
                   /* закинула в файл footer__column-heading.css*/
/* .footer__column-heading {
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;
} */
                   /* закинула в файл footer__column-links.css*/
/* .footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
} */
                   /* закинула в файл footer__column-link.css*/
/* .footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  } */
                   /* закинула в файл footer__social-icon.css*/
/* .footer__social-icon {
  margin-right: 10px;
} */
